
$link-color:         #0388a6;
$link-hover-color:   #009ce0;
$link-focus-color:   false;
$link-active-color:  false;
$link-visited-color: false;

$font-color:  #2a2a2a;
$font-family: "adobe-caslon-pro",serif;
$base-font-size:   12px;
$base-line-height: 18px;

$total-cols: 12;
$col-width: 4em;
$gutter-width: 1em;
$side-gutter-width: $gutter-width;


body {
  font-family: $font-family;
  color: $font-color; 
}

/*
a {
  @include link-colors($link-color, $link-hover-color, $link-focus-color, $link-active-color, $link-visited-color);
}
*/

#main {
  padding: 50px;
}

h1, h2, h3, h4 {
  font-family: "chaparral-pro",sans-serif;
  padding-top: 40px;
  padding-bottom: 40px;
}

h1 {
  text-align: center;
  font-size: 48px;
  line-height: 60px;
}

p {
  margin: 0 0 9px;
  font-family: $font-family;
  font-size: 13px;
  line-height: 18px;
}

div.subtitle {
  text-align: center;
}
